
<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">@Title</h4><hr />
    <p>@Message</p>
</div>
@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public string Message { get; set; } = string.Empty;
}
