.card-details {
    margin: 20px auto;
    padding: 20px 0px;
    background-color: whitesmoke;
    border-bottom: 6px solid #1D3557;
    border-radius: 15px;
}

.qualification-body {
    background: whitesmoke;
}

.font-italic {
    font-style: italic;
}
