@inject NavigationManager navigationManager
@inject ICourseService courseService

<div class="input-group">
    <input @bind-value="searchText"
           @bind-value:event="oninput"
           type="search"
           list="courseStructures"
           @onkeyup="HandleSearch"
           class="form-control me-2 fa-search"
           placeholder="Search by keywords like CSC, ECO, GST, Introduction to, Principles of, ..."
           @ref="searchInput" />
    <datalist id="courseStructures" >
        @foreach (var suggestion in suggestions)
        {
            <option>@suggestion</option>
        }
    </datalist>
    <div class="input-group-append">
        <button class="btn btn-outline-success" @onclick="Search">
            <i class="fa fa-search"></i>
            Search
        </button>
    </div>
</div>

@code {
    private string searchText = string.Empty;
    private List<string> suggestions = new List<string>();
    protected ElementReference searchInput;

    [Parameter]
    public EventCallback<string> SearchEvent { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await searchInput.FocusAsync();
        }
    }

    public async Task Search()
    {
        await SearchEvent.InvokeAsync(searchText);
    }

    public async Task HandleSearch(KeyboardEventArgs args)
    {
        if (args.Key == null || args.Key.Equals("Enter"))
        {
           await Search();
        }
        else if (searchText.Length > 1)
        {
            suggestions = await courseService.GetCourseSearchSuggestions(searchText);
        }
    }
}
