.panelPage {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.imgAuth {
    height: auto;
    width: 100%;
}
.imgDiv {
    border-right: groove;
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodyDiv {
    border-left: thick;
    flex: 0 0 auto;
    width: 50%;
}

@media (max-width: 640.98px) {
    .panelPage {
        flex-direction: column;
    }
    .imgDiv {
        border-right: none;
        width: 0px;
        height: 0px;
        visibility: hidden;
    }
    .bodyDiv {
        border-left: none;
        flex: 0 0 auto;
        width: 100%;
    }
    .panelMain {
        flex: none;
    }
}
