@layout MainLayout
@inherits LayoutComponentBase
<center>
    <div class="col-10 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="panelPage col-12">
            <div class="imgDiv px-4">
                <img src="/img/cluad3.jpg" class="imgAuth img-thumbnail" />
            </div>
            <div class="bodyDiv px-4">
                @Body
            </div>
        </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
    <div>
        <p>
            <small>
              @*   @footerMessage *@
            </small>
        </p>
    </div>
</center>

@code{

    string footerMessage = DateTime.Now.Year + " © Clifford University, Owerrinta, Abia State.";
}