
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">       
        <NavMenu />        
    </div>

    <main>
        <div class="top-row px-4">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>

        <BlazoredToasts Position="ToastPosition.BottomRight"
                        Timeout="30"
                        IconType="IconType.FontAwesome"
                        SuccessClass="success-toast-override"
                        SuccessIcon="fa fa-check"
                        ErrorIcon="fa fa-times"
                        InfoIcon="fa fa-info"
                        WarningClass="fa fa-bug"
                        ShowProgressBar="true">
        </BlazoredToasts>
    </main>
</div>