@inject IToggleMenuService toggleMenuService

<AuthorizeView Roles="Admin">
    <NotAuthorized>

    </NotAuthorized>
    <Authorized>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="admin/account">
                <span class="oi oi-key" aria-hidden="true"></span>
                My Account
            </NavLink>
        </li>
        <hr />
        <li class="nav-item px-1">
            <NavLink class="nav-link" @onclick="() => toggleMenuService.TogleSubmenu(NavSubmenu.First)">
                @* <span class="fa fa-cogs fa-lg me-3"></span>*@
                <span class="oi oi-wrench"></span>
                Settings
            </NavLink>
        </li>
        
        @if (toggleMenuService.Submenu == NavSubmenu.First)
        {
            <li class="nav-item ps-5 pe-1">
                <NavLink class="nav-link" @onclick="() => toggleMenuService.ToggleNavMenu()" href="admin/countries">
                    Countries
                </NavLink>
            </li>
            <li class="nav-item ps-5 pe-1">
                <NavLink class="nav-link" @onclick="() => toggleMenuService.ToggleNavMenu()" href="admin/faculties">
                    Faculties
                </NavLink>
            </li>
            <li class="nav-item ps-5 pe-1">
                <NavLink class="nav-link" @onclick="() => toggleMenuService.ToggleNavMenu()" href="admin/courses">
                    General Courses
                </NavLink>
            </li>
            <li class="nav-item ps-5 pe-1">
                <NavLink class="nav-link" @onclick="() => toggleMenuService.ToggleNavMenu()" href="admin/course/structure">
                    Course Structure
                </NavLink>
            </li>
        }

        <li class="nav-item px-1">
            <NavLink class="nav-link" @onclick="() => toggleMenuService.TogleSubmenu(NavSubmenu.Second)">
                <span class="oi oi-people"></span>
                Users
            </NavLink>
        </li>

        @if (toggleMenuService.Submenu == NavSubmenu.Second)
        {
            <li class="nav-item ps-5 pe-1">
                <NavLink class="nav-link" @onclick="() => toggleMenuService.ToggleNavMenu()" href="admin/students">
                    Students
                </NavLink>
            </li>
            <li class="nav-item ps-5 pe-1">
                <NavLink class="nav-link" @onclick="() => toggleMenuService.ToggleNavMenu()" href="admin/lecturers">
                    Lecturers
                </NavLink>
            </li>
        }
        <hr />
        <MenuCreateUsers />
    </Authorized>
</AuthorizeView>