
<AuthorizeView Roles="Lecturer"> 
    <NotAuthorized>

    </NotAuthorized>
    <Authorized>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="lecturer/profile">
                <span class="oi oi-person" aria-hidden="true"></span>
                Profile
            </NavLink>
        </li>
        <hr />
    </Authorized>
</AuthorizeView>

