
@inject NavigationManager navigationManager
@inject ILecturerService lecturerService

<div class="input-group">
    <input @bind-value="searchText"
           @bind-value:event="oninput"
           type="search"
           list="lecturers"
           @onkeyup="HandleSearch"
           class="form-control me-2"
           placeholder="Search by lecturer's name, faculty, or department ..."
           aria-label="Search"
           @ref="searchInput" />
    <datalist id="lecturers">
        @foreach (var suggestion in suggestions)
        {
            <option>@suggestion</option>
        }
    </datalist>
    <div class="input-group-append">
        <button class="btn btn-outline-success" @onclick="Search">
            <i class="fa fa-search"></i>
            Search
        </button>
    </div>
</div>

@code {
    private string searchText = string.Empty;
    private List<string> suggestions = new List<string>();
    protected ElementReference searchInput;

    [Parameter]
    public string From { get; set; } = string.Empty; //= "admin" or "department"

    [Parameter]
    public int? DepartmentId { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await searchInput.FocusAsync();
        }
    }

    public void Search()
    {
        if (searchText != string.Empty)
        {
            navigationManager.NavigateTo($"{From}/lecturers/search/{searchText}/1");
        }
        else
        {
            navigationManager.NavigateTo($"{From}/lecturers");
        }
    }

    public async Task HandleSearch(KeyboardEventArgs args)
    {
        if (args.Key == null || args.Key.Equals("Enter"))
        {
            Search();
        }
        else if (searchText.Length > 1)
        {
            if (DepartmentId is null)
            {
                suggestions = await lecturerService.GetLecturerSearchSuggestions(searchText);
            }
            else
            {
                suggestions = await lecturerService.GetLecturerSearchSuggestions(searchText, (int)DepartmentId);
            }
        }
    }
}
